.header {
    height: 70px;
    background-color: rgb(25, 219, 226);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}